.parent {
  width: 50%;
  text-align: center;
}
.parent div {
  background-color: rgba(173, 170, 170, 0.838);
  padding: 15px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.parent div:hover{
    background-color: rgba(225, 225, 225, 0.74);
}
@media (max-width: 900px) {
  .parent{
    width: 40%;
  }
}
